<h1><%= @list.name %></h1>
<%= link_to "#{@list.movies.count} #{@list.movies.count > 1 ? 'movies' : 'movie'}", "", class: "btn btn-warning" %>



  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  <%= link_to "Delete the list", list_path(@list.id),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
  <%= link_to "Back to lists", lists_path, class: 'btn btn-primary' %>




    <% @list.movies.each do |movie| %>
        <%= image_tag ("https://image.tmdb.org/t/p/w300/" + movie.poster_url) %>
        <%= movie.title %> <span>• <%= movie.rating %> <i class="fas fa-star"></i></span>
            <p><%= movie.overview %></p>
            <<i class="fas fa-quote-left me-2"></i><%= movie.bookmarks.last.comment %>
              <%= link_to bookmark_path(Bookmark.find_by(list: @list, movie: movie)),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
    <% end %>
